@import "dockview/dist/styles/dockview.css";
@import "tailwindcss";

:root {
  --radius: 0.5rem;
  --background: oklch(1 0 0);
  --foreground: oklch(0.145 0 0);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.145 0 0);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.145 0 0);
  --primary: oklch(0.205 0 0);
  --primary-foreground: oklch(0.985 0 0);
  --secondary: oklch(0.97 0 0);
  --secondary-foreground: oklch(0.205 0 0);
  --muted: oklch(0.97 0 0);
  --muted-foreground: oklch(0.556 0 0);
  --accent: oklch(0.97 0 0);
  --accent-foreground: oklch(0.205 0 0);
  --destructive: oklch(0.577 0.245 27.325);
  --destructive-foreground: oklch(0.985 0 0);
  --border: oklch(0.922 0 0);
  --input: oklch(0.922 0 0);
  --ring: oklch(0.708 0 0);
  --chart-1: oklch(0.705 0.151 35.179);
  --chart-2: oklch(0.535 0.123 191.455);
  --chart-3: oklch(0.386 0.088 220.018);
  --chart-4: oklch(0.775 0.139 84.648);
  --chart-5: oklch(0.741 0.155 50.866);
}

.dark {
  --background: oklch(0.145 0 0);
  --foreground: oklch(0.985 0 0);
  --card: oklch(0.205 0 0);
  --card-foreground: oklch(0.985 0 0);
  --popover: oklch(0.205 0 0);
  --popover-foreground: oklch(0.985 0 0);
  --primary: oklch(0.922 0 0);
  --primary-foreground: oklch(0.205 0 0);
  --secondary: oklch(0.298 0 0);
  --secondary-foreground: oklch(0.985 0 0);
  --muted: oklch(0.298 0 0);
  --muted-foreground: oklch(0.708 0 0);
  --accent: oklch(0.298 0 0);
  --accent-foreground: oklch(0.985 0 0);
  --destructive: oklch(0.407 0.153 27.352);
  --destructive-foreground: oklch(0.985 0 0);
  --border: oklch(0.298 0 0);
  --input: oklch(0.298 0 0);
  --ring: oklch(0.854 0 0);
  --chart-1: oklch(0.596 0.225 265.151);
  --chart-2: oklch(0.554 0.189 172.806);
  --chart-3: oklch(0.652 0.175 84.648);
  --chart-4: oklch(0.693 0.161 305.496);
  --chart-5: oklch(0.803 0.143 6.594);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --radius-lg: var(--radius);
  --radius-md: calc(var(--radius) - 2px);
  --radius-sm: calc(var(--radius) - 4px);
}

@layer base {
  *,
  ::before,
  ::after {
    margin: 0;
    border-color: var(--color-border);
  }

  html,
  body {
    padding: 0;
    background-color: var(--color-background);
    color: var(--color-foreground);
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, sans-serif;
  }

  #root {
    height: 100vh;
    width: 100vw;
    background-color: var(--color-background);
    color: var(--color-foreground);
  }
}
